
/* Header CSS */
.container {
  width  :99vw;
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  top:0;
  left:0;
  right:0;

  background-color: rgba(77, 237, 218, 0.267);
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: .5rem;
}

.container img{
  height: 2rem;
  padding-top:1rem ;
  padding-bottom:1rem ;
}

.search-form{
  width: 50%;
  border-radius: 5px;
  background-color: white;
  justify-content: center;
  padding: auto 2%;
  margin-left:15%
}

.search-form input{
  width: 75%;
  background: transparent;
  margin-left: none;
  border: none;
  min-height: 100%;
  color: black;
  font-size: 80%;
  outline: none;
  padding-left: 2%;
}

.search-form button{
  background:transparent;
  color:gray;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-size: 80%;
}
/* End of Header CSS */

/*createPost CSS*/

.iPost{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-color: aliceblue;
}
.post-form{
  width: 50%;
  margin: 10% auto 0 auto;
  padding: 2%;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: sans-serif;
}

.post-form #title{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.post-form #content{
  width: 100%;
  min-height:10vh;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}