

.container {
  width  :100%;
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  top:0;
  left:0;
  background-color: #282c34;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 10%;
}

.container img{
  height: 2rem;
}

.search-form{
  width: 40%;
  border-radius: 5px;
  background-color: white;
  justify-content: center;
  padding:auto 1%;
}

.search-form input{
  width: 80%;
  background: transparent;
  margin-left: auto;
  border: none;
  min-height: 100%;
  color: black;
  font-size: 120%;
}

.search-form button{
  background:transparent;
  color:gray;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}