
/* Header CSS */
.container {
  width  :100%;
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(77, 237, 218, 0.267);
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 10%;
}

.container img{
  height: 2rem;
  padding-top:1rem ;
  padding-bottom:1rem ;
}

.search-form{
  width: 50%;
  border-radius: 5px;
  background-color: white;
  justify-content: center;
  padding: auto 2%;
  margin-left:15%
}

.search-form input{
  width: 80%;
  background: transparent;
  margin-left: none;
  border: none;
  min-height: 100%;
  color: black;
  font-size: 80%;
  outline: none;
  padding-left: 2%;
}

.search-form button{
  background:transparent;
  color:gray;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-size: 80%;
}
/* End of Header CSS */