.modal-overlay {
  position: fixed;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  backdrop-filter: blur(5px);
}

.modal {
  background: rgba(0,75,140,0.7);
  padding: 2rem;
  width: 350px;
  border-radius: 10px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-form input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal-submit {
  padding: 0.75rem;
  background: #00B2FF;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  width: 70%;
  margin: 0 auto;
}
.modal-submit:hover{
  background:white;
  color:black;
}

h1{
  color: white;
  text-align: center;
}